* {
  padding: 0px;
  margin: 0px; }

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../fonts/Montserrat-ExtraBold.ttf"); }

@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/Montserrat-Regular.ttf"); }

.container {
  width: 100%;
  min-height: 800px;
  position: relative; }
  .container .wrapper {
    margin: 45px 45px 0px 65px;
    width: 90%;
    max-height: 96%;
    position: absolute;
    top: 0px;
    z-index: 2; }
    .container .wrapper .word-header {
      color: #FFD133;
      font-size: 40px;
      font-family: Montserrat-ExtraBold;
      text-align: right;
      height: 200px; }
      .container .wrapper .word-header .word-header-2 {
        font-size: 100px;
        text-transform: uppercase;
        float: left; }
        .container .wrapper .word-header .word-header-2 .slogen {
          display: flex;
          flex-direction: column;
          line-height: 55px;
          color: white;
          padding-left: 15px; }
          .container .wrapper .word-header .word-header-2 .slogen span.small {
            font-size: 25px;
            font-family: Montserrat-Regular;
            padding-right: 25px; }
          .container .wrapper .word-header .word-header-2 .slogen .big {
            font-size: 105px;
            padding-left: 50px;
            padding-top: 25px; }
      .container .wrapper .word-header .word1 {
        padding-top: 20px;
        padding-right: 45px; }
    .container .wrapper .word-content1 {
      color: white;
      text-align: right;
      line-height: 75px;
      height: 500px;
      position: relative; }
      .container .wrapper .word-content1 .word {
        position: absolute;
        top: 50px;
        right: 0px;
        padding-right: 35px;
        padding-top: 0px; }
        .container .wrapper .word-content1 .word .small {
          font-size: 50px;
          font-family: Montserrat-Regular;
          text-transform: uppercase;
          font-weight: bold; }
        .container .wrapper .word-content1 .word .big {
          font-family: Montserrat-ExtraBold;
          font-size: 100px;
          color: #FBCE2F;
          text-transform: uppercase; }
        .container .wrapper .word-content1 .word .word-content {
          line-height: 30px;
          font-size: 21px;
          padding-top: 35px;
          font-family: Montserrat-Regular; }
      .container .wrapper .word-content1 .word2 {
        line-height: 25px;
        text-align: left;
        font-family: Montserrat-Regular;
        font-size: 21px;
        padding-top: 265px;
        padding-left: 75px; }
    .container .wrapper .word-content2 {
      color: white;
      position: relative; }
      .container .wrapper .word-content2 .word1 {
        text-align: left;
        font-family: Montserrat-Regular;
        font-size: 35px;
        padding-top: 180px;
        padding-left: 75px;
        font-weight: bold; }
      .container .wrapper .word-content2 .word2 {
        position: absolute;
        top: 50px;
        right: 0px;
        padding-right: 35px;
        text-align: right; }
        .container .wrapper .word-content2 .word2 .big {
          font-size: 100px;
          text-transform: uppercase;
          font-family: Montserrat-ExtraBold;
          padding: 25px 0px 25px 25px; }
        .container .wrapper .word-content2 .word2 .small {
          font-size: 21px;
          font-family: Montserrat-ExtraBold; }
    .container .wrapper .word-contact {
      margin-top: 225px;
      font-size: 21px;
      font-family: Montserrat-Regular;
      font-weight: bold;
      color: white;
      width: 33.33%; }
      .container .wrapper .word-contact .address {
        display: flex;
        padding: 15px 15px 15px 0px; }
        .container .wrapper .word-contact .address p {
          padding-left: 25px;
          padding-top: 15px; }
      .container .wrapper .word-contact .phone {
        padding: 15px 15px 15px 0px;
        display: flex; }
        .container .wrapper .word-contact .phone p {
          padding-left: 25px;
          padding-top: 15px; }
      .container .wrapper .word-contact .mail {
        padding: 15px 15px 15px 0px;
        display: flex; }
        .container .wrapper .word-contact .mail p {
          padding-left: 25px;
          padding-top: 15px; }
      .container .wrapper .word-contact .link {
        color: #FBCE2F;
        font-family: Montserrat-ExtraBold;
        font-size: 21px;
        padding: 35px 15px 15px 0px;
        margin-top: 15px; }
    .container .wrapper .logo-footer {
      display: flex;
      float: right;
      position: relative;
      bottom: 65px;
      margin-right: 105px;
      padding-bottom: 25px; }
      .container .wrapper .logo-footer div {
        padding-left: 65px; }
  .container .header {
    width: 100%;
    height: 250px; }
    .container .header .images {
      float: right;
      margin-top: 70px; }
  .container .content1 {
    width: 100%;
    height: 500px;
    background-color: #242a31;
    color: white; }
    .container .content1 .image-content1 {
      float: right; }
  .container .content2 {
    width: 100%;
    height: 800px;
    background: url("../images/banner.jpg");
    background-size: cover; }
  .container .footer {
    width: 100%;
    min-height: 200px;
    background-color: #242a31; }
  .container .first {
    width: 66.67%;
    height: 125%;
    background-color: #18b3e2;
    opacity: 0.5;
    z-index: 1;
    float: right; }
  .container .contact {
    width: 33.33%;
    height: 500px;
    background-color: #242a31;
    position: absolute;
    bottom: 0px; }
  .container .first-yellow {
    width: 28.6%;
    height: 71.5%;
    background-color: #ffc709;
    position: absolute;
    top: 0px;
    z-index: 1;
    margin-left: 58px;
    opacity: 0.9;
    padding-right: 0px; }
