* {
  padding: 0px;
  margin: 0px; }

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../fonts/Montserrat-ExtraBold.ttf"); }

@font-face {
  font-family: Montserrat-Regular;
  src: url("../fonts/Montserrat-Regular.ttf"); }

.container {
  max-width: 1500px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  position: relative; }
  .container .header {
    width: 100%;
    height: 250px;
    position: relative; }
    .container .header p {
      font-family: 'Montserrat-ExtraBold';
      font-weight: bold;
      font-size: 40px;
      position: absolute;
      text-align: right;
      left: 45%;
      top: 32%;
      color: #fbcc4b; }
    .container .header .images {
      position: absolute;
      top: 75px;
      right: 0px; }
  .container .content1 {
    width: 100%;
    height: 500px;
    background-color: #242a31;
    color: white;
    position: relative; }
    .container .content1 img {
      float: right; }
    .container .content1 .word {
      position: absolute;
      width: 610px;
      height: 400px;
      font-size: 40px;
      left: 600px;
      top: 60px;
      line-height: 75px; }
      .container .content1 .word p.small {
        font-family: 'Montserrat-Regular';
        text-transform: uppercase;
        text-align: right; }
      .container .content1 .word p.big {
        font-family: 'Montserrat-ExtraBold';
        text-transform: uppercase;
        font-size: 100px;
        font-weight: bold;
        text-align: right;
        color: #fbcc4b; }
      .container .content1 .word p.word-content {
        margin-top: 15px;
        line-height: 25px;
        font-size: 18px;
        text-align: right;
        font-family: 'Montserrat-Regular'; }
  .container .content2 {
    width: 1348px;
    height: 800px;
    background: url("../images/banner.jpg");
    background-size: cover; }
  .container .footer {
    width: 100%;
    height: 200px;
    background-color: #242a31; }
  .container .first {
    width: 67%;
    height: 1001px;
    background-color: #18b3e2;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    top: 751px;
    left: 33%; }
  .container .contact {
    width: 33%;
    height: 500px;
    background-color: #242a31;
    position: absolute;
    bottom: 0px;
    color: white; }
    .container .contact .address {
      display: flex;
      position: absolute;
      top: 80px;
      left: 105px; }
      .container .contact .address p {
        font-size: 20px;
        font-family: Montserrat-Regular;
        padding: 30px 0px 0px 20px; }
    .container .contact .phone {
      display: flex;
      position: absolute;
      top: 180px;
      left: 105px; }
      .container .contact .phone p {
        font-size: 20px;
        font-family: Montserrat-Regular;
        padding: 30px 0px 0px 20px; }
    .container .contact .mail {
      display: flex;
      position: absolute;
      top: 280px;
      left: 105px; }
      .container .contact .mail p {
        font-size: 20px;
        font-family: Montserrat-Regular;
        padding: 20px 0px 0px 20px; }
    .container .contact .link {
      position: absolute;
      top: 400px;
      left: 105px; }
      .container .contact .link p {
        font-size: 25px;
        font-family: Montserrat-ExtraBold;
        color: #fbcc4b; }
  .container .first2 {
    width: 25%;
    height: 1250px;
    background-color: #FFCC19;
    opacity: 0.8;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 8%; }
    .container .first2 .slogen {
      width: 100%;
      height: 20%;
      position: absolute;
      top: 80px;
      left: 10px;
      line-height: 55px;
      text-align: center; }
      .container .first2 .slogen p {
        font-size: 100px;
        font-family: Montserrat-ExtraBold;
        text-transform: uppercase;
        color: white; }
      .container .first2 .slogen span {
        font-size: 25px;
        text-transform: uppercase;
        font-family: Montserrat-Regular;
        color: white; }
  .container .word2 {
    position: absolute;
    left: 160px;
    top: 520px;
    width: 240px;
    height: 150px;
    line-height: 20px;
    color: white;
    z-index: 1; }
    .container .word2 p {
      font-family: 'Montserrat-Regular';
      font-size: 18px;
      text-align: left;
      color: white; }
  .container .word3 {
    position: absolute;
    left: 160px;
    top: 900px;
    width: 220px;
    height: 150px;
    line-height: 40px;
    font-weight: bold;
    color: white;
    z-index: 1;
    font-family: 'Montserrat-Regular';
    font-size: 30px;
    text-align: left;
    color: white; }
  .container .word4 {
    height: 700px;
    width: 48%;
    z-index: 2;
    position: absolute;
    top: 800px;
    left: 40%;
    text-align: right; }
    .container .word4 .big {
      font-size: 100px;
      font-family: Montserrat-ExtraBold;
      text-transform: uppercase;
      color: white;
      padding: 35px 0px; }
    .container .word4 .small {
      text-align: right;
      font-size: 18px;
      font-family: Montserrat-Regular;
      color: white;
      font-weight: bold; }
  .container .logo-footer {
    width: 450px;
    height: 100px;
    position: absolute;
    top: 1600px;
    left: 50%;
    z-index: 2;
    display: flex; }
    .container .logo-footer img {
      padding: 35px; }
