*{
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family:Montserrat-ExtraBold;
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family:Montserrat-Regular;
  src: url("../fonts/Montserrat-Regular.ttf");
}
.container{

  width:100%;
  min-height:60vw;
  position: relative;
  .wrapper{
    margin: 3.4vw 3.4vw 0vw 5vw ;
    //padding-bottom: 15px;
    //border: 1px solid red;
    width: 90%;
    max-height: 96%;
    position: absolute;
    top: 0px  ;
    z-index: 2;
    .word-header{
      color:#FFD133 ;
      font-size:3vw;
      font-family: Montserrat-ExtraBold;
      text-align: right;
      height:15vw;
      //display: flex;
      //.word-header p{
      //}

      .word-header-2{
        font-size: 7.5vw;
        text-transform: uppercase;
        float: left;
        //clear: right;
        //align-self: f lex-start;
        //margin-bottom: 35px;

        .slogen{
          //margin-bottom: 55px;
          display: flex;
          flex-direction: column;
          line-height: 4.2vw;
          color: white;
          padding-left: 0.4vw;
          //text-align: right;

          span.small{
            font-size: 2vw;
            font-family: Montserrat-Regular;
            //float: left;
            padding-right: 2vw;
          }
          .big{
            font-size: 8vw;
            padding-left: 3.8vw;
            padding-top: 2vw ;
          }
        }


       }
      .word1{
        padding-top: 1.5vw;
        padding-right: 3.4vw;
        img{
          width: 5.7vw;
          height: 2vw;
        }
        //width: 80%;
      }
      }
    .word-content1{
      //border: 1px solid red;
      color: white;
      text-align: right;
      //font-size: 40px;
      line-height: 5.7vw;
      //display: flex;
      height: 38vw;
      position: relative;

      .word{
        //border: 1px solid red;
        position: absolute;
        top: 3.8vw;
        right: 0px;
        //padding-top: 65px;
        padding-right: 2.7vw;
        //padding-bottom: 25px;
        //width: 70%;
        //float: right;
        //margin-bottom: 105px;
        padding-top: 0px;
        //padding-left: 30%;
        //float: right;
        .small{
          font-size: 3.8vw;
          font-family:Montserrat-Regular;
          text-transform: uppercase;
          font-weight: bold;
        }
        .big{
          font-family: Montserrat-ExtraBold;
          font-size: 7.5vw;
          color:#FBCE2F;
          text-transform: uppercase;
          //margin-right: 0px;

        }
        .word-content{
          line-height: 2.2vw;
          font-size: 1.6vw;
          padding-top: 2.7vw;
          font-family: Montserrat-Regular;
        }
      }
      .word2{
        //padding-bottom: 50px;
        line-height: 2vw;
        text-align: left;
        //width: 30%;
        font-family: Montserrat-Regular;
        font-size: 1.6vw;
        padding-top: 20vw;
        padding-left: 5vw;
        img{
          width: 5.7vw;
          height: 2vw;
        }
      }
    }
    .word-content2{
      color: white;
      position: relative;
      .word1{
        //line-height: 25px;
        text-align: left;
        //width: 30%;
        font-family: Montserrat-Regular;
        font-size: 2.6vw;
        padding-top: 13.5vw;
        padding-left: 5vw;
        font-weight: bold;
        img{
          width: 5.7vw;
          height: 2vw;
        }

      }
      .word2{
        position: absolute;
        top:3.8vw;
        //float: right;
        right:0vw;
        padding-right: 2.6vw;
        text-align: right;
        //line-height: 75px;
        //border: 1px solid red;
        img{
          width: 2vw;
          height: 5.7vw;
        }
        .big{
          font-size: 7.5vw;
          text-transform: uppercase;
          font-family: Montserrat-ExtraBold;
          padding: 2vw 0vw 2vw 2vw;

          //font-weight: bold;
        }
        .small{
          //font-weight: bold;
          font-size: 1.6vw;
          font-family: Montserrat-ExtraBold;
        }
      }
    }
    .word-contact{
      margin-top: 17vw;
      //border: 1px solid red;
      font-size: 1.6vw;
      font-family: Montserrat-Regular;
      font-weight: bold;
      color: white;
      width: 33.33%;
      .address{

        display: flex;
        padding: 1.2vw 1.2vw 1.2vw 0vw;
        img{
          width: 3vw;
          height: 3.8vw;
        }
        p{
          padding-left: 2vw;
          padding-top: 1.2vw;
        }
      }
      .phone{
        padding: 1.2vw 1.2vw 1.2vw 0vw;
        display: flex;
        img{
          width: 3.8vw;
          height: 3.8vw;
        }
        p{
          padding-left: 2vw;
          padding-top: 1.2vw;
        }
      }
      .mail{
        padding: 1.2vw 1.2vw 1.2vw 0vw;
        display: flex;
        img{
          width: 3.8vw;
          height: 3vw;

        }
        p{
          padding-left: 2vw;
          padding-top: 1.2vw;
        }
      }
      .link{
        color:#FBCE2F;
        font-family: Montserrat-ExtraBold;
        font-size: 1.5vw;
        padding: 2.5vw 1.2vw 1.2vw 0vw;
        margin-top: 1.2vw;
      }
    }
    .logo-footer{
      //width: 66.67%;
      display: flex;
      //text-align: center;
      float: right;
      //border: 1px solid red;
      position: relative;
      bottom:5vw;
      //margin-right: 15px;
      //justify-items: center;
      //align-content: center;
      //padding-left: 105px;
      margin-right: 8vw;
      padding-bottom: 2vw;
      //margin-bottom: 65px;
      //height: 100px;
     div{
       padding-left: 5vw;
       //padding-bottom: 35px;
       //margin-bottom: 65px;
     }
      .logo1 img{
        width: 12.5vw;
        height: 4.5vw;

      }
      .logo2 img{
        width: 4.5vw;
        height: 4.5vw;
      }
      .logo3 img{
        width: 4.5vw;
        height: 4.5vw;

      }
      .logo4 img{
        width: 4.5vw;
        height: 4.5vw;

      }
    }


  }
  .header{
    width: 100%;
    height: 19vw;
    .images{
      float:right;
      margin-top: 5vw;
      width: 8vw;
      height: 8vw;
      background-color: #ffc709;

    }
  }
  .content1{
    width: 100%;
    height: 37.5vw;
    background-color: #242a31;
    color: white;
    .image-content1{
      float :right;
      img{
        width: 32vw;
        height: 2.6vw;
      }
    }


  }
    .content2{
      width: 100%;
      height: 60vw;
      background: url('../images/banner.jpg');
      background-size: cover;


    }
    .footer{
      width: 100%;
      min-height: 15vw;
      background-color: #242a31;
    }
    .first {
      width: 68.67%;
      height: 125%;
      background-color: #18b3e2;
      opacity: 0.5;
      z-index: 1;
      float: right;
    }
  .contact{
    width: 31.8%;
    height: 37.5vw;
    background-color: #242a31;
    position: absolute;
    bottom :0px;
  }
  .first-yellow{
    width: 26.8%;
    max-width:28.6%;;
    height: 71.5%;
    background-color: #ffc709;
    position: absolute;
    top: 0px;
    z-index: 1;
    margin-left: 5%;
    opacity: 0.9;
    padding-right: 0px;
  }






}